body h1 {
  font-family: "Old Standard TT", serif;
  font-weight: bold;
  font-size: 45px;
  color: #263995;
  padding-bottom: 2rem;
  margin: auto;
  width: 100%;
  text-align: center;
  line-height: 48px; }
body h3 {
  font-family: "Old Standard TT", serif;
  font-weight: bold;
  font-size: 22px;
  padding-top: 4rem;
  width: 100%;
  text-align: left;
  color: #007B44; }
body p {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 3rem 0rem;
  text-align: center;
  line-height: 20px; }
body h4 {
  font-family: "Merriweather Sans", serif;
  font-weight: bold;
  font-size: 18px; }
  body h4 a {
    text-decoration: none;
    color: #007B44; }

.imgAbout {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .imgAbout img {
    width: 379px;
    height: 220px; }

.partnersLogos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .partnersLogos h3 {
    font-size: 40px;
    padding-bottom: 2rem;
    width: 100%;
    text-align: center; }
  .partnersLogos img {
    padding: 2rem; }

.iframe-wrapper {
  background-color: #e9e9e9;
  height: 315px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  height: auto;
  padding: 2rem;
  margin: 3rem auto; }

.footer-wrapper {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  padding: 2rem 0rem;
  margin: 3rem 0rem 0rem 3rem auto;
  background-color: #e9e9e9; }

.summit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  width: 100%; }

.main-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: auto;
  padding: 5rem 1rem;
  margin: 3rem 0rem 0rem 3rem auto;
  float: left; }
  .main-contact p {
    text-align: right;
    line-height: 17px; }

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  float: right;
  width: 50%;
  padding-top: 3rem; }

.d-contact {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  float: left;
  width: 50%; }
  .d-contact h3 {
    padding: 1rem;
    float: left; }
  .d-contact p {
    float: right;
    padding: 0rem;
    text-align: left;
    width: 50%; }

.c-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  float: right;
  width: 50%; }
  .c-contact h3 {
    padding: 0rem;
    float: right; }
  .c-contact p {
    float: right;
    padding: 0rem;
    text-align: left;
    width: 50%; }

.imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  float: left;
  width: 50%;
  background-color: #e9e9e9; }

.sentence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  float: right;
  width: 50%;
  height: 460px;
  background-color: #e9e9e9; }
  .sentence p {
    font-family: "Prata", sans-serif;
    font-size: 50px;
    line-height: 57px;
    padding: 11rem 0rem 0rem 2rem;
    text-align: left; }

.edu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  float: right;
  width: 100%; }
  .edu-links h4 {
    padding: 1rem 4rem 6rem; }

.research-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  float: left;
  width: 50%;
  height: 460px;
  background-color: #e9e9e9; }
  .research-links h4 {
    padding: 1rem 11rem 0.3rem; }

@media screen and (max-width: 1417px) {
  #edu {
    width: 50%;
    height: 263px; }
    #edu p {
      padding: 5rem 0rem 0rem 2rem; }

  .imgs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }
@media screen and (max-width: 1216px) {
  .research-links h4 {
    padding: 0.5rem 11rem 0.3rem; }

  .imgs {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }
@media screen and (max-width: 1000px) {
  .research-links {
    width: 100%;
    height: 460px; }
    .research-links h4 {
      padding: 0.5rem 14rem 0.3rem; }

  .sentence {
    width: 100%;
    height: 200px; }
    .sentence p {
      padding: 3rem 0rem 0rem 2rem; }

  #edu {
    width: 100%;
    height: 200px; }
    #edu p {
      padding: 3rem 0rem 0rem 2rem; }

  .imgs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    float: left;
    width: 100%; } }
@media screen and (max-width: 660px) {
  .research-links {
    width: 100%;
    height: 460px; }
    .research-links h4 {
      padding: 0.5rem 9rem 0.3rem; } }
@media screen and (max-width: 480px) {
  #edu {
    width: 100%;
    height: 330px; }
    #edu p {
      padding: 3rem 0rem 0rem 2rem; } }
@media screen and (max-width: 440px) {
  .research-links {
    width: 100%;
    height: 460px; }
    .research-links h4 {
      padding: 0.5rem 5rem 0.3rem; } }
@media screen and (max-width: 388px) {
  .sentence {
    width: 100%;
    height: 300px; }
    .sentence p {
      padding: 3rem 0rem 0rem 2rem; } }
@media screen and (max-width: 300px) {
  .research-links {
    width: 100%;
    height: 460px; }
    .research-links h4 {
      padding: 0.5rem 3rem 0.3rem; } }
@media screen and (max-width: 774px) {
  .imgAbout img {
    width: 200px;
    height: 120px; } }
.topnav {
  overflow: hidden;
  background-color: #e9e9e9; }
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; }
    .topnav a:hover {
      background-color: #ddd;
      color: black; }
    .topnav a.active {
      background-color: #FF6C00;
      color: white; }
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px; }

@media screen and (max-width: 736px) {
  .topnav a, .topnav input[type=text] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 14px; }

  .topnav input[type=text] {
    border: 1px solid #ccc; } }

/*# sourceMappingURL=new-styles.css.map */